@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #fff;
  font-family: 'Noto Sans', sans-serif;
  color: #1A1365;
  font-size: 16px;
  line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #fff;
    color: #1A1365;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
  padding: 0;
}

.btn {
  width: 100%;
  max-width: 200px;
  border-radius: 3px;
  cursor: pointer;
  background: #7774AA;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: all .3s;
}

.btn:hover {
  background: #1A1365;
}

.header {
  transition: all 0.3s;
}

.header.scrolled {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.hideMenuNav {
  display: none;
}

.showMenuNav {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header-menu {
  gap: 42px;
}

.title-m {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
}

@media screen and (min-width: 768px){
  .title-m  {
    font-size: 42px;
  }
}

.title-l {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.17;
}

.title-l strong {
  font-weight: 300;
  font-size: 28px;
}

@media screen and (min-width: 768px){
  .title-l {
    font-size: 58px;
  }

  .title-l strong {
    font-size: 28px;
  }
}

@media screen and (min-width: 1280px){
  .title-l {
    font-size: 78px;
  }

  .title-l strong {
    font-size: 48px;
  }
}

.title-sm {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}

@media screen and (min-width: 768px){
  .title-sm {
    font-size: 26px;
  }
}

/* HERO SECTION */

.hero {
  position: relative;

}

.hero:before {
  content: "";
  display: block;
  width: 100%;
  max-width: 1040px;
  height: 100%;
  background: url("../../public/bg-hero.svg") 50% 50% no-repeat;
  background-size: 100%;
  position: absolute;
  right: 100px;
  top: 0;
}

.hero-title {
  line-height: 1.1;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -3px;
}

@media screen and (min-width: 768px){
  .hero-title {
    font-size: 46px;
  }
}

@media screen and (min-width: 1280px){
  .hero-title {
    font-size: 96px;
  }
}

.hero-title strong {
  font-weight: 500;
  background: linear-gradient(90deg, #FFA642 31.47%, #EE4D5D 76.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  width: 100%;
  max-width: 846px;
  margin-left: auto;
  margin-right: auto;
}

.hero-since {
  font-size: 14px;
  font-weight: 500;
}

.expertise-descr {
  max-width: 522px;
}

.features-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.features-item .icon {
  width: 88px;
}

.features {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.features-item .icon img {
  width: 88px;
  height: 88px;
  object-fit: contain;
}

.features-item .content {
  width: calc(100% - 88px);
  padding-left: 32px;
}

.features-item .content .title {
  line-height: 1.1;
}

.features-item .content .text {
  margin: 22px 0 0;
}

[id] {
  scroll-margin-top: 50px;
}

.elastic-search:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  max-width: 978px;
  max-height: 978px;
  background: radial-gradient(53.38% 53.38% at 50% 50%, rgba(255, 166, 66, 0.264) 0%, rgba(255, 128, 150, 0.111) 41.6%, rgba(255, 231, 186, 0) 100%, rgba(255, 231, 186, 0.108) 100%);
  border-radius: 50%;
  position: absolute;
  left: -100px;
  top: -50px;
}

.section-descr {
  max-width: 740px;
}

.allows-list-item,
.modules-list-item {
  padding: 30px;
  border-radius: 3px;
  border: 1px solid rgba(26, 19, 101, 0.36);
  background: #fff;
}

.allows-list-item .number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: url("../../public/number-decor.png") 0 0 no-repeat;
  background-size: 58px;
}

.allows-list-item .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
}

@media screen and (min-width: 640px){
  .allows-list-item .title {
    font-size: 22px;
  }
}

.modules-list-item .icon {
  display: flex;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
}

.modules-list-item .icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.modules-list-item .descr {
  max-width: 460px;
}

.modules-list .modules-list-item:last-child {
  border: none;
  border-radius: 0;
  padding: 0;
}

.modules-decor {
  display: block;
  width: 196px;
  height: 196px;
  border-radius: 50%;
}

.slogan-decor img,
.modules-decor img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.slogan-decor {
  display: block;
  min-width: 300px;
  min-height: 300px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../public/circle-decor.svg") 50% 50% no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 768px){
  .slogan-decor {
    min-width: 480px;
    min-height: 480px;
  }
}

@media screen and (min-width: 1280px){
  .slogan-decor {
    width: 582px;
    height: 582px;
    right: 14%;
  }
}

.slogan-text {
  font-weight: 400;
  max-width: 1064px;
}

.footer {

}

.footer:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  max-width: 510px;
  max-height: 560px;
  background: url("../../public/bg-footer.png") 0 0 no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contact {

}

.contact-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.15;
}

@media screen and (min-width: 1280px){
  .contact-title {
    font-size: 68px;
  }
}

.contact-email a {
  background: linear-gradient(90deg, #FFA642 31.47%, #EE4D5D 76.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  display: inline-flex;
  line-height: 1.2;
  transition: all .3s;
}

.contact-email a:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #FFA642 31.47%, #EE4D5D 76.08%);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .3s;
}


.contact-email a:hover:before {
  opacity: 0;
}

@media screen and (min-width: 768px){
  .contact-email a {
    font-size: 28px;
  }
}

.copyright {
  font-size: 14px;
}